<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/output.css">
</head>
<body class="bg-gray-800 min-h-screen w-full">
    <div class="flex flex-col items-center justify-center">
        <div class="flex items-center justify-between w-full md:w-3/4 max-sm:flex-col my-4">
            <h1 class="text-white text-2xl p-2 m-2 font-semibold">Inventory App</h1>
            <a href="/add-item" class="max-sm:w-1/2 bg-violet-500 hover:bg-violet-600 text-white p-2 rounded-md text-center">Add Item</a>
        </div>

			<div class="w-full md:w-3/4 max-h-[400px] overflow-x-auto overflow-y-auto overscroll-contain">
			    <table class="min-w-[600px] text-sm text-gray-500 dark:text-gray-400 rounded-md cursor-default">
			        <thead class="text-md text-gray-700 uppercase bg-gray-50 rounded-md dark:text-gray-400 border-b dark:border-gray-700 border-gray-</thead>
			    </table>
			</div>

    <%- include('footer') %>
    <script src="./js/index.js"></script>
</body>
</html>
